apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-lkqvyfyj
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-lkqvyfyj:9b63ad70d27ee07facb89161cf2c32ea3b429a59@sha256:bec8a011791099a24da76fa38f34646edc8bbd418a459b7b187e70ed8fdbd630
        name: container-image  
